body{
    background-color: #d2d2c1;
    background-image: url(/image/fundo.png);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

ul>li{
    display: inline;
    text-transform: uppercase;
    list-style-type: none;
    color: var(--cor-do-menu);
    font-family: var(--font-family-site);
}

#container{
    width: 900px;
}

#menu{
    background: #c5c5b2;
    padding: 18px;
}

a{
    color: #4b566a;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}

#conteudo{
    background: #e8e8d9;
    padding: 10px;
}

h1{
    color: #828271;
    font-size: 1.2em;
}

img{
    border: 10px solid #c3c3ae;
}

#rodape{
    text-align: center;
    background: #c5c5b2;
    padding: 1px;
}

.centralizar{
    text-align: center;
}